<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Home</h1>

  <% if (locals.user) { %>
    <h1>Welcome, <%= user.first_name %><%= user.membership_status ? '*' : '' %>!</h1>

    <form action="/messages/new" method="get">
      <button>New Message</button>
    </form>

    <form action="/users/logout" method="post">
      <button>Log Out</button>
    </form>

    <% if (!user.membership_status) { %>
      <a href="/users/join-club">Join the Club</a>
    <% } %>

    <% if (!user.admin) { %>
      <a href="/users/admin-signup">Admin Signup</a>
    <% } %>

    <h2>Messages</h2>
    <% if (messages && messages.length > 0) { %>
      <ul>
        <% messages.forEach(message => { %>
          <li>
            <% if (user.membership_status) { %>
              <strong>(<%= message.first_name %> <%= message.last_name %>)</strong><br>
            <% } %>
            <strong><%= message.title %></strong><br>
            <%= message.text %><br>
            <% if (user.membership_status) { %>
              <em>(Posted on <%= new Date(message.created_at).toLocaleDateString() %>)</em>
            <% } %>

            <% if (user.admin) { %>
              <form action="/messages/delete" method="post">
                <input type="hidden" name="messageId" value="<%= message.id %>">
                <button type="submit">Delete Message</button>
              </form>
            <% } %>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <p>No messages yet.</p>
    <% } %>

  <% } else { %>
    <h1>Welcome, Guest!</h1>

    <a href="/users/sign-up">Sign Up</a>
    <a href="/users/login">Login</a>

  <% } %>


</body>
</html>
