<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
</head>
<body>
  <h1>Sign Up</h1>
  <form action="/users/sign-up" method="post">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName" placeholder="First Name" value="<%= user.firstName || '' %>"><br>
    <% if (errors && errors.find(e => e.param === 'firstName')) { %>
      <p style="color: red;"><%= errors.find(e => e.param === 'firstName').msg %></p>
    <% } %>

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" placeholder="Last Name" value="<%= user.lastName || '' %>"><br>
    <% if (errors && errors.find(e => e.param === 'lastName')) { %>
      <p style="color: red;"><%= errors.find(e => e.param === 'lastName').msg %></p>
    <% } %>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" placeholder="Email" value="<%= user.email || '' %>"><br>
    <% if (errors && errors.find(e => e.param === 'email')) { %>
      <p style="color: red;"><%= errors.find(e => e.param === 'email').msg %></p>
    <% } %>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" value="<%= user.password || '' %>"><br>
    <% if (errors && errors.find(e => e.param === 'password')) { %>
      <p style="color: red;"><%= errors.find(e => e.param === 'password').msg %></p>
    <% } %>

    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" name="confirmPassword" id="confirmPassword" value="<%= user.confirmPassword || '' %>"><br>
    <% if (errors && errors.find(e => e.param === 'confirmPassword')) { %>
      <p style="color: red;"><%= errors.find(e => e.param === 'confirmPassword').msg %></p>
    <% } %>

    <% if (errors && errors.length > 0) { %>
      <div class="error-messages">
        <ul>
          <% errors.forEach(error => { %>
            <li><%= error.msg %></li>
          <% }) %>
        </ul>
      </div>
    <% } %>


    <button type="submit">Sign Up</button>
  </form>

  <a href="/users">Home</a>
</body>
</html>
